doctype html
html 
    head
        link(rel="stylesheet",href="myStyle.css")
        style. 
            p{
                font-family:'Courier New',Courier,monospace;
                text-decoration:underline;
            }
    body
        - const myInlineStyles={"text-align":"center","text-transform":"uppercase"}
        p(style=myInlineStyles) This is a paragraph