doctype html 
html 
    head 
        title case demo 
    body 
        h3 case-when demo 
        - let orderStatus='Pending'
        case orderStatus 
            when 'Pending'
                p Your order is pending 
            when 'delivered'
                p your order has been delivered 
            when 'completed'
                p Your order is completed
            default 
                p default message
